@font-face {
  font-family: "Gilroy";
  src:  url("../fonts/web/gilroyextrabold.woff") format("woff"),
        url("../fonts/web/gilroyextrabold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src:  url("../fonts/web/gilroylight.woff") format("woff"),
        url("../fonts/web/gilroylight.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.main-header {
  margin-top: 40px;
}

.main-header-catalog {
  margin-bottom: 37px;
}

.search-form label,
.user-block-header,
.slide-annotation,
.services-annotation,
.about-us p,
.contact-main p,
.user-block-footer,
.footer-contacts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.user-block-header,
.menu-header,
.menu-catalog,
.breadcrumbs,
.brands-list,
.user-block-footer,
.menu-footer,
.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7e296;
}

.logo-header {
  margin: 0;
  padding: 0;
  line-height: 0;
  margin-top: -19px;
  margin-bottom: 13px;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.logo-header svg {
  pointer-events: none;
}

.logo-header:hover {
  opacity: 0.6;
}

.logo-header:active,
.logo-header:focus {
  opacity: 0.3;
}

.user-wrapper {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form  {
  position: relative;
  width: 440px;
  padding: 0;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-form label {
  position: absolute;
  top: 14px;
  left: 38px;
  z-index: 1;
}

.search-form label,
.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.search-form label:hover,
.user-block-header a:hover,
.menu-header a:hover,
.menu-catalog a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-form label:focus {
  color: #000000;
}

.search-form-input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  padding: 14px 90px 8px 39px;
  width: 100%;
  min-height: 49px;
  background-color: #f7e296;
  border: none;
  outline: none;
}

.search-form-input::-webkit-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.search-form-input:-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.search-form-input::-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.search-form-input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.search-form-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-input:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-input:focus::-webkit-input-placeholder {
  color: #000000;
}

.search-form-input:focus:-ms-input-placeholder {
  color: #000000;
}

.search-form-input:focus::-ms-input-placeholder {
  color: #000000;
}

.search-form-input:focus::placeholder {
  color: #000000;
}

.search-form-input:focus {
  -webkit-box-shadow: 0 2px 0 0 #000000;
          box-shadow: 0 2px 0 0 #000000;
}

.search-form-input:focus ~ .btn-search-form {
  display: block;
}

input[type="search"]::-ms-clear {  display: none; width : 0; height: 0; }
input[type="search"]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.btn-search-form {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: none;
  padding: 8px 18px 8px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border: 2px solid black;
  border-bottom: none;
  outline: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0);
}

.btn-search-form:hover {
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
}

.btn-search-form:active {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.3);
  display: block;
}

.user-block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 540px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 6px 0;
  padding-bottom: 0;
}

.user-block-header li {
  margin-left: 35px;
}

.user-block-header li:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.user-block-header a,
.menu-header a,
.menu-catalog a {
  color: #000000;
}

.user-block-header a:focus,
.menu-header a:focus,
.menu-catalog a:focus {
  opacity: 0.3;
}

.user-link {
  margin-left: 20px;
}

.login-link,
.compare-link,
.shopping-cart-link {
  position: relative;
  padding-left: 30px ;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 13px;
  height: 100%;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.compare-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.shopping-cart-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover::before,
.compare-link:hover::before,
.shopping-cart-link:hover::before {
  opacity: 0.6;
}

.login-link:active::before,
.compare-link:active::before,
.shopping-cart-link:active::before {
  opacity: 0.3;
}

.menu-header {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.menu-header-link {
  margin-right: 35px;
}

.menu-header-link:first-child {
  margin-right: 0;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.menu-header-link:last-child {
  margin-right: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.menu-header-link:hover .menu-catalog-wrapper,
.menu-first-link:focus + .menu-catalog-wrapper {
  display: block;
}

.menu-header a {
  position: relative;
  z-index: 4;
}

.menu-first-link {
  position: relative;
  padding-right: 35px;
}

.menu-first-link::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 6px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.menu-catalog-wrapper {
  position: absolute;
  left: 0;
  padding-top: 22px;
  z-index: 3;
  display: none;
  width: 100%;
  background-color: #f7e296;
}

.menu-show {
  display: block;
}

.menu-catalog {
  width: 640px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-transform: none;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 60px;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-catalog li {
  width: 200px;
}

.menu-catalog li:nth-child(3n+1) {
  width: 200px;
  margin-right: 40px;
}

.menu-catalog li:last-child {
  width: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.catalog-title,
.services-slides h3,
.about-us h3,
.contact-main h3 {
  font-size: 47px;
  line-height: 48px;
}

.slide-info p,
.services-slides p,
.about-us p,
.contact-main p {
  color: #464646;
}

.carousel {
  position: relative;
  width: 1160px;;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 96px;
  min-height: 497px;
}

.carousel-slides-list {
  margin: 0px;
  padding: 0px;
  counter-reset: myCounter;
  position: relative;
}

.slide {
  list-style-type: none;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

.slide:before {
  counter-increment: myCounter;
  content: "0" counter(myCounter);
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179.2px;
  line-height: 73.2px;
  font-weight: 800;
  color: white;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #f7e296;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-right: 48px;
  padding-top: 40px;
}

.slide-foto {
  width: 560px;
  text-align: center;
  z-index: 2;
}

.slide-foto img {
  display: block;
  margin: 0 auto;
}

.slide:nth-child(3) .slide-foto {
  padding-top: 68px;
  margin-bottom: 85px;
}

.slide-info {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 82px;
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.slide-info::before {
  position: absolute;
  top: 40px;
  content: "";
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slide-title {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  font-size: 47px;
  line-height: 56px;
  word-spacing: 5px;
}

.slide-annotation {
  margin: 0;
  padding: 0;
  padding-right: 89px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slide:nth-child(2) .slide-annotation {
  padding-right: 108px;
}

.slide-options {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
          order: 1;
  border-collapse: collapse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

.slide-options thead {
  padding: 5px 0;
}

.parameter th,
.parameter-value td {
  width: 160px;
  padding-right: 5px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 0;
  font-weight: 300;
}

.parameter th:nth-child(2),
.parameter-value td:nth-child(2) {
  width: 138px;
}

.parameter th {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.parameter-value {
  font-size: 36px;
  line-height: 48px;
  padding: 0;
}

.slide .btn {
  width: 220px;
  margin-bottom: 48px;
}

.carousel-controls {
  position: absolute;
  right: 82px;
  bottom: 143px;
  z-index: 3;
}

.carousel-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 17px;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  text-indent: -10000px;
}

.carousel-controls label:last-child {
  margin-right: 0;
}

#slide-1:checked ~ .carousel label[for="slide-1"],
#slide-2:checked ~ .carousel label[for="slide-2"],
#slide-3:checked ~ .carousel label[for="slide-3"] {
  -webkit-box-shadow:
  inset 0 0 0 2px #ffffff,
  inset 0 0 0 3px #000000;
          box-shadow:
  inset 0 0 0 2px #ffffff,
  inset 0 0 0 3px #000000;
}

.carousel-controls label:hover,
#slide-1:focus ~ .carousel label[for="slide-1"],
#slide-2:focus ~ .carousel label[for="slide-2"],
#slide-3:focus ~ .carousel label[for="slide-3"] {
  -webkit-box-shadow:
  inset 0 0 0 2px #ffffff,
  inset 0 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow:
  inset 0 0 0 2px #ffffff,
  inset 0 0 0 3px rgba(0, 0, 0, 0.3);
}

.carousel-controls label:active {
  -webkit-box-shadow:
  inset 0 0 0 2px #ffffff,
  inset 0 0 0 3px rgba(0, 0, 0, 0.6);
          box-shadow:
  inset 0 0 0 2px #ffffff,
  inset 0 0 0 3px rgba(0, 0, 0, 0.6);
}

.label-active {
  -webkit-box-shadow:
  inset 0 0 0 2px #ffffff,
  inset 0 0 0 3px #000000;
          box-shadow:
  inset 0 0 0 2px #ffffff,
  inset 0 0 0 3px #000000;
}

#slide-1:checked ~ .carousel #carousel-slide-1,
#slide-2:checked ~ .carousel #carousel-slide-2,
#slide-3:checked ~ .carousel #carousel-slide-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  visibility: visible;
  position: relative;
}

.slide-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  visibility: visible;
  position: relative;
}

.popular {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 11px;
}

.popular-list {
  margin: 0;
  padding: 0;
  width: 1160px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-item {
  position: relative;
  width: 160px;
}

.popular-list a,
.about-us-partners a {
  color: #000000;
}

.popular-list a {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}

.popular-item:nth-child(2) a {
  padding-right: 35px;
}

.popular-item-link::before {
  content: "";
  display: block;
  margin-bottom: 35px;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.popular-1::before {
  background-image: url(../img/popular-1.svg);
}

.popular-2::before {
  background-image: url(../img/popular-2.svg);
  background-position: 50% 100%;
}

.popular-3::before {
  background-image: url(../img/popular-3.svg);
  background-position: 55% 55%;
}

.popular-4::before {
  background-image: url(../img/popular-4.svg);
  background-position: 52% 55%;
}

.popular-5::before {
  background-image: url(../img/popular-5.svg);
  background-position: 53% 55%;
}

.popular-6::before {
  background-image: url(../img/popular-6.svg);
  background-position: 46% 56%;
}

.popular-item-link::after {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  width: 160px;
  height: 160px;
}

.popular-list a:hover::before,
.popular-list a:focus::before {
  background-color: rgba(240, 197, 46, 1);
}

.popular-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-item-link:active::after {
  opacity: 0.3;
  background-color: rgba(240, 197, 46, 1);
}

.services {
  min-height: 457px;
  margin-bottom: 94px;
  padding: 69px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(37%, white), color-stop(37%, #e5e5e5));
  background: -webkit-linear-gradient(top, white 37%, #e5e5e5 37%);
  background: -o-linear-gradient(top, white 37%, #e5e5e5 37%);
  background: linear-gradient(180deg, white 37%, #e5e5e5 37%);
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.services-controls {
  margin-right: 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 284px;
  min-height: 319px;
  border-right: 7px solid #000000;
  padding-top: 81px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services-controls label {
  position: relative;
  width: 160px;
  margin-bottom: 24px;
}

label.btn::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 277px;
  height: 100%;
  outline: auto 5px;
  display: none;
}

.services-slides {
  width: 460px;
  padding-top: 73px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.services-slide {
  display: none;
  position: relative;
}

.services-slide-1::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 66px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slide-2::after {
  content: "";
  position: absolute;
  top: -11px;
  right: 46px;
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slide-3::after {
  content: "";
  position: absolute;
  top: -11px;
  right: 71px;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slide-title {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
}

.services-annotation {
  padding-right: 335px;
}

label.btn:hover {
  background: #f0c52e;
}

#services-btn-1:checked ~ .container label[for="services-btn-1"],
#services-btn-2:checked ~ .container label[for="services-btn-2"],
#services-btn-3:checked ~ .container label[for="services-btn-3"],
label.btn:active {
	background: #000000;
  color: #f7e184;
  -webkit-box-shadow: 120px 0 0 0 #000000;
          box-shadow: 120px 0 0 0 #000000;
}

label.btn:active {
  outline: none;
}

label.btn:focus {
  outline: none;
}

label.btn:active::before {
  outline: none;
}

label.btn:focus::before {
  display: block;
}

#services-btn-1:checked ~ .container #services-slide-1,
#services-btn-2:checked ~ .container #services-slide-2,
#services-btn-3:checked ~ .container #services-slide-3 {
	display: block;
}

.brands {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 93px;
}

.brands-list {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.brand-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.2;
}

.brand-link-jd::after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  content: "";
  width: 260px;
  height: 100px;
  background-image: url(../img/logo-dji-hover.png);
  opacity: 0;
}

.brand-link-pgadgets::after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  content: "";
  width: 260px;
  height: 100px;
  background-image: url(../img/logo-spg-hover.png);
  opacity: 0;
}

.brand-link-gopro::after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  content: "";
  width: 260px;
  height: 100px;
  background-image: url(../img/logo-gopro-hover.png);
  opacity: 0;
}

.brand-link-vive::after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  content: "";
  width: 260px;
  height: 100px;
  background-image: url(../img/logo-vive-hover.png);
  opacity: 0;
}

.brand-link:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}

.brand-link:hover::after {
  opacity: 1;
}

.inform-wrapper {
  margin: 0 auto;
  margin-bottom: 82px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inform-wrapper h3 {
  margin: 52px 0 43px 0;
}

.inform-wrapper p {
  margin-bottom: 30px;
  padding-right: 50px;
}

.inform-btn {
  width: 260px;
  margin-top: 54px;
}

.about-us {
  position: relative;
  width: 560px;
}

.about-us::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us-annotation {
 margin-bottom: 66px;
 padding-right: 35px;
}

.about-us-partners {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  list-style: none;
}

.about-us-partners li {
  position: relative;
  padding-left: 35px;
}

.about-us-partners li::before {
  position: absolute;
  left: 0;
  top: 16px;
  content: "";
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contact-main {
  position: relative;
  width: 560px;
}

.contact-main::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contact-main-map {
  padding: 10px 0 14px 0;
}

.contact-map-link {
  display: block;
  background-color: #e9e9e9;
}

.contact-map-link img {
  display: block;
}

.catalog-title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  padding-left: 60px;
}

.breadcrumbs {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color:rgba(0, 0, 0, 0.3);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 46px;
  padding-left: 60px;
}

.breadcrumbs-element:not(:last-child) {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  padding-right: 20px;
  text-align: left;
  vertical-align: top;
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.breadcrumbs-element a:hover {
  color:rgba(0, 0, 0, 0.6);
}

.breadcrumbs-element a:active {
  color:rgba(0, 0, 0, 0.1);
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background:
    -webkit-gradient(linear, left top, right top, color-stop(35%, #eeeeee), color-stop(35%, white));
  background:
    -webkit-linear-gradient(left, #eeeeee 35%, white 35%);
  background:
    -o-linear-gradient(left, #eeeeee 35%, white 35%);
  background:
    linear-gradient(90deg, #eeeeee 35%, white 35%);
}

.sorting-list,
.form-colour-check,
.form-bluetooth-radio,
.cards-list,
.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-title,
.filters-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.sorting {
  position: relative;
  width: 100%;
  padding: 23px 0;
  background-color: rgba(0, 0, 0, 0.08);
}

.sorting .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting-title {
  margin-left: 400px;
  margin-right: 46px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sorting-list-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sorting-list-right {
  min-width: 60px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sorting-list-right li {
  padding-top: 8px;
}

.sorting-element {
  margin-right: 30px;
}

.sorting-element-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  opacity: 0.3;
  color: #000000;
}

.dir-link {
  width: 11px;
  height: 10px;
  display: block;
  text-indent: -10000px;
  opacity: 0.3;
}

.up-dir a {
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  margin-right: 19px;
}

.down-dir a {
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
}

.active {
  opacity: 1;
}

.sorting-element-link:hover,
.dir-link:hover,
.sorting-element-link:focus,
.dir-link:focus {
  opacity: 0.6;
}

.sorting-element-link:active,
.dir-link:active {
  opacity: 1;
}

.filters-cards-wrapper {
  margin: 0;
  margin-top: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters {
  margin-right: 72px;
  padding-left: 60px;
  padding-right: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 328px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eeeeee;
}

.filters-title {
  padding: 23px 0;
  margin-bottom: 69px;
}

.filters-form {
  padding-top: 10px;
  border-top: 2px solid #000000;
}

.filters-form fieldset:not(.filter-form-bluetooth) {
  margin-bottom: 10px;
  border-bottom: 2px solid #000000;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 31px;
}

.filters-form label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}

.filters-form input:disabled+label{
  color: #a6a6a6;
}

.form-price-title {
  margin-bottom: 23px;
}

.form-price-scale {
  width: 100%;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-range {
  width: 100%;
  height: 2px;
  background-color: #dbdbdb;
}

.form-price-toogle {
  position: relative;
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.price-toogle {
  position: absolute;
  background-color: transparent;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  text-indent: -10000px;
}

.price-toogle-min {
  top: -9px;
  left: -6px;
}

.price-toogle-max {
  top: -9px;
  right: -17px;
}

.price-toogle:active {
  background-size: cover;
}

.price-toogle:focus {
  background-size: cover;
}

.form-price-value {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-price-value label {
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  opacity: 0.2;
}

.form-price-value input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  width: 40px;
}

.form-price-min {
  margin-right: 31px;
}

.form-colour-title {
  margin-bottom: 17px;
}

.form-colour-check {
  margin-bottom: 32px;
}

.form-colour-label {
  position: relative;
  padding-left: 38px;
}

.form-colour-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form-colour-input:checked+label::before {
  background-image: url(../img/checkbox-on.svg);
}

.form-colour-label:hover::before,
.form-colour-input:focus+.form-colour-label::before {
  opacity: 0.6;
}

.form-colour-input:disabled+.form-colour-label::before {
	opacity: 0.25;
}

.form-bluetooth-title {
  margin-bottom: 18px;
}

.form-bluetooth-label {
  position: relative;
  padding-left: 38px;
}

.form-bluetooth-label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -2px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form-bluetooth-input:checked+.form-bluetooth-label::before {
  background-image: url(../img/radio-on.svg);
}

.form-bluetooth-label:hover::before,
.form-bluetooth-input:focus+.form-bluetooth-label::before {
  opacity: 0.6;
}

.form-bluetooth-input:disabled+.form-bluetooth-label::before {
	opacity: 0.25;
}

.btn-filters-form {
  width: 100%;
}

.cards {
  margin-bottom: 77px;
  padding-top: 139px;
  width: 760px;
}

.cards a {
  color: #000000;
}

.cards-list {
  margin-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
}

.card-item:last-child,
.card-item:nth-last-child(2) {
  margin-bottom: 0;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.item-title {
  width: 260px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-item:nth-child(2) .item-title {
  padding-right: 27px;
}

.item-ptice {
  font-size: 16px;
  font-weight: 300;
  color: #464646;
}

.item-img {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  background-color: #eeeeee;
}

.item-img img {
  display: block;
}

.item-img::after {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.7);
  display: none;
  z-index: 1;
}

.item-hover {
  position: absolute;
  top: 173px;
  width: 100%;
  text-align: center;
  display: none;
  z-index: 2;
}

.item-img:hover .item-hover,
.item-img:hover::after {
  display: block;
}

.item-show {
  display: block;
}

.item-hover-btn {
  margin: 0 auto;
  width: 200px;
  margin-bottom: 6px;
}

.btn-compare {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  opacity: 0.5;
}

.btn-compare:hover {
  opacity: 1;
}

.btn-compare:active {
  opacity: 0.2;
}

.new::before {
  position: absolute;
  content: "new";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 17px 0 17px 0;
  top: 29px;
  right: 27px;
  border: 2px solid #000000;
  border-radius: 50%;
  font-size: 14px;
  opacity: 0.2;
  width: 60px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ebebeb;
}

.pagination a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 24px;
  padding-bottom: 22px;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}

.pagination-list {
  padding-left: 25px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination-list li:not(:last-child) {
  margin-right: 31px;
}

.prev,
.next {
  padding-left: 29px;
  padding-right: 25px;
  letter-spacing: 4px;
}

.disabled {
  opacity: 0.3;
}

.prev:hover,
.next:hover {
  background-color: #d9d9d9;
}

.prev:active,
.next:active,
.prev:focus,
.next:focus {
  background-color: #d9d9d9;
  opacity: 0.3;
}

.disabled:hover {
  opacity: 0.6;
}

.disabled:active {
  opacity: 1;
}

.main-footer {
  background-color: #464646;
}

.footer-wrapper {
  position: relative;
  margin: 0 auto;
  width: 1160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-navigation {
  margin-top: 65px;
  z-index: 1;
}

.footer-user-wrapper {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-footer svg {
  pointer-events: none;
}

.logo-footer:hover {
  opacity: 0.6;
}

.logo-footer:active,
.logo-footer:focus {
  opacity: 0.3;
}

.user-block-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 560px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.user-block-footer li {
  margin-left: 35px;
}

.user-block-footer li:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 0px;
  text-align: right;
}

.user-block-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.user-block-footer a:hover {
  color: #ffffff;
}

.login-footer-link::before {
  background-image: url(../img/user-footer.svg);
}

.compare-footer-link::before {
  background-image: url(../img/compare-footer.svg);
}

.shopping-cart-footer-link::before {
  background-image: url(../img/cart-footer.svg);
}

.user-footer-link {
  margin-right: 20px;
}

.user-footer-link::before {
  background-image: url(../img/user-footer.svg);
}

.menu-footer {
  padding: 0 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-footer li {
  margin-right: 35px;
}

.menu-footer li:last-child {
  margin-right: 0px;
}

.menu-footer a,
.footer-contacts a,
.address-footer {
  color: #ffffff;
}

.menu-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.user-block-footer a:focus,
.menu-footer a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.footer-contacts {
  margin-top: -29px;
  margin-bottom: 65px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address-footer {
  width: 260px;
  font-style: normal
}

.phone-footer {
  width: 260px;
  text-align: right;
}

.footer-social {
  margin: 0 auto;
  padding: 0 100px;
  z-index: 1;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-list li {
  margin-right: 23px;
  margin-bottom: 5px;
}

.footer-social-list li:last-child {
  margin-right: 0px;
}

.footer-social a {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-button span,
.social-button svg {
  pointer-events: none;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:active,
.footer-social a:focus {
  opacity: 0.1;
}

.footer-copyright {
  margin: 0;
  margin-top: -40px;
  margin-bottom: 67px;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright::before {
  position: absolute;
  left: 0;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-copyright-link {
  display: block;
  width: 27px;
  height: 34px;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  text-indent: -10000px;
  z-index: 2;
}

.footer-copyright-link:hover {
  opacity: 0.6;
}

.footer-copyright-link:active {
  opacity: 0.3;
}

@-webkit-keyframes bounce {
	0% {
	-webkit-transform: translate(-50%, -2000px);
			transform: translate(-50%, -2000px);
	}
	70% {
	-webkit-transform: translate(-50%, 30px);
			transform: translate(-50%, 30px);
	}
	90% {
	-webkit-transform: translate(-50%, -10px);
			transform: translate(-50%, -10px);
	}
	100% {
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	}
}

@keyframes bounce {
	0% {
	-webkit-transform: translate(-50%, -2000px);
			transform: translate(-50%, -2000px);
	}
	70% {
	-webkit-transform: translate(-50%, 30px);
			transform: translate(-50%, 30px);
	}
	90% {
	-webkit-transform: translate(-50%, -10px);
			transform: translate(-50%, -10px);
	}
	100% {
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	}
}

@-webkit-keyframes shake {
	0%, 100% {
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	}
	10%, 30%, 50%, 70%, 90% {
	-webkit-transform: translate(-52%, -50%);
			transform: translate(-52%, -50%);
	}
	20%, 40%, 60%, 80% {
	-webkit-transform: translate(-48%, -50%);
			transform: translate(-48%, -50%);
	}
}

@keyframes shake {
	0%, 100% {
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	}
	10%, 30%, 50%, 70%, 90% {
	-webkit-transform: translate(-52%, -50%);
			transform: translate(-52%, -50%);
	}
	20%, 40%, 60%, 80% {
	-webkit-transform: translate(-48%, -50%);
			transform: translate(-48%, -50%);
	}
}

.modal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  -webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 960px;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.modal-write-us {
  padding: 95px 100px 0 100px;
  background-color: #ffffff;
  display: none;
}

.write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.write-us-form p {
  margin: 0;
  padding: 0;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.write-us-form .write-us-login {
  margin-right: 40px;
}

.write-us-form .write-us-letter {
  margin-bottom: 41px;
  width: 100%;
}

.write-us-form .write-us-email {
  margin-bottom: 35px;
}

.write-us-form label {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
}

.write-input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);
  background-color: rgba(230, 230, 230, 0.5);
  border: none;
}

.invalid-input {
  background-color: #f6dada;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"] {
  padding: 15px 0 15px 20px;
}

.write-us-form textarea {
  padding: 0;
  padding-top: 15px;
  padding-left: 20px;
  min-height: 156px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  color: rgba(70, 70, 70, 1);
  background-color: #ffffff;
  outline: 3px solid #f7e296;
}

.modal-write-us .btn {
  margin-bottom: 82px;
  width: 200px;
}

.modal-map {
  min-height: 559px;
  display: none;
  background-color: #fafafa;
}

.modal-close {
  outline: none;
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.btn {
  padding: 8px 0;
  display: block;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(255, 255, 255, 0)), color-stop(40%, #f0c52e), color-stop(58%, #f0c52e), color-stop(58%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 40%, #f0c52e 40%, #f0c52e 58%, rgba(255, 255, 255, 0) 58%);
  background: -o-linear-gradient(rgba(255, 255, 255, 0) 40%, #f0c52e 40%, #f0c52e 58%, rgba(255, 255, 255, 0) 58%);
  background: linear-gradient(rgba(255, 255, 255, 0) 40%, #f0c52e 40%, #f0c52e 58%, rgba(255, 255, 255, 0) 58%);
}

button.btn {
  border: none;
  outline: none;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.btn:hover {
  background: #f0c52e;
}

.btn:focus {
  background: #f0c52e;
}

.btn:active {
  background: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}
